<!doctype html>
<html>
  <head>
    <title>To-Do list</title>
  </head>
  <body>
    {% if not request.user.id %}
      <h4>You are not signed in</h4>
      <a href="{% url 'login' %}">Login</a>
      or
      <a href="{% url 'register' %}">register</a>
    {% endif %}

    {% if request.user.id %}
    <h4>Hi, {{request.user}}</h4>
      <form method="post" action="{% url 'logout' %}">{%csrf_token%}
        <button type="submit">Logout</button>
      </form>
      or
      <a href="{% url 'edituser' request.user.id %}">edit credentials!</a>
    {% endif %}
    
    {% if request.user.is_authenticated %}
      <form method="post">{% csrf_token %}
          {{ToDoListForm.as_p}}
          <input type="submit" value="Add Item">
      </form>
    <br>
    Your <b><i>"ToDo"</i></b>s are here...
    <hr>
    {% endif %}

    {% for Item in ToDoItem %}
      {% if not Item.checked %}
        <ul><li><a href="{% url 'checker' Item.id %}">{{Item}}</a> <a href="{% url 'update' Item.id %}">edit</a></li></ul>
      {% endif %}
    {% endfor %}
    
    {% for Item in ToDoItem %}
      {% if Item.checked %}
        <ul><li><a href="{% url 'unchecker' Item.id %}"><strike>{{Item}}</strike></a> <a href=" {% url 'delete' Item.pk %}">delete</a></li></ul>  
      {% endif %}
    {% endfor %}
  </body>
</html>