<!doctype html>
<html>
  <head>
    <title>Main</title>
  </head>
  <body>
    <form method="post">{% csrf_token %}
        {{ToDoListForm.as_p}}
        <input type="submit" value="Add">
    </form>
    <br>



    Your <b><i>"ToDo"</i></b>s are here...
    <hr>
    {% for Item in ToDoItem %}
      {% if not Item.checked %}
        <ul><li>{{Item}} <a href="{% url 'update' Item.pk %}">edit</a></li></ul>
      {% else %}
      <ul><li><strike>{{Item}}</strike> <a href=" {% url 'delete' Item.pk %}">delete</a></li></ul>  
      {% endif %}
    {% endfor %}
  </body>
</html>